<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
        <section name="entityFramework"
                 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                 requirePermission="false"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework">
            <parameters>
                <parameter
                        value="Database=Library;Password=Strong@123;User Id=sa;Data Source=localhost;MultipleActiveResultSets=True;Initial Catalog=LibraryManager"/>
            </parameters>
        </defaultConnectionFactory>
        <providers>
            <provider invariantName="System.Data.SqlClient"
                      type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
        </providers>
    </entityFramework>
    <connectionStrings>
        <add name="ModelContext"
             connectionString="Database=Library;User Id=sa;password=Strong@123;Data Source=localhost;Initial Catalog=LibraryManager;MultipleActiveResultSets=True;App=EntityFramework"
             providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>